@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jacques+Francois&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme{
      --font-jacques-francois: "Jacques Francois", serif;
      --font-inter: "Inter", sans-serif;
}

/* Smooth scrolling for the entire page */
html {
  scroll-behavior: smooth;
}

/* Scroll offset to account for fixed navbar */
section[id] {
  scroll-margin-top: 100px;
}